sysgrate-soap-client/client/src/main/resources/OutboundUtilityWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://nortel.com/CCMMOutboundWebservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://nortel.com/CCMMOutboundWebservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://nortel.com/CCMMOutboundWebservices/">
      <s:element name="OutboundLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutboundLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OutboundLoginResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutboundLogoff">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="OutboundLogoffResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="OutboundLoginSoapIn">
    <wsdl:part name="parameters" element="tns:OutboundLogin" />
  </wsdl:message>
  <wsdl:message name="OutboundLoginSoapOut">
    <wsdl:part name="parameters" element="tns:OutboundLoginResponse" />
  </wsdl:message>
  <wsdl:message name="OutboundLogoffSoapIn">
    <wsdl:part name="parameters" element="tns:OutboundLogoff" />
  </wsdl:message>
  <wsdl:message name="OutboundLogoffSoapOut">
    <wsdl:part name="parameters" element="tns:OutboundLogoffResponse" />
  </wsdl:message>
  <wsdl:portType name="OutboundUtilityWSSoap">
    <wsdl:operation name="OutboundLogin">
      <wsdl:input message="tns:OutboundLoginSoapIn" />
      <wsdl:output message="tns:OutboundLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="OutboundLogoff">
      <wsdl:input message="tns:OutboundLogoffSoapIn" />
      <wsdl:output message="tns:OutboundLogoffSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OutboundUtilityWSSoap" type="tns:OutboundUtilityWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OutboundLogin">
      <soap:operation soapAction="http://nortel.com/CCMMOutboundWebservices/OutboundLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutboundLogoff">
      <soap:operation soapAction="http://nortel.com/CCMMOutboundWebservices/OutboundLogoff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OutboundUtilityWSSoap12" type="tns:OutboundUtilityWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="OutboundLogin">
      <soap12:operation soapAction="http://nortel.com/CCMMOutboundWebservices/OutboundLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OutboundLogoff">
      <soap12:operation soapAction="http://nortel.com/CCMMOutboundWebservices/OutboundLogoff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OutboundUtilityWS">
    <wsdl:port name="OutboundUtilityWSSoap" binding="tns:OutboundUtilityWSSoap">
      <soap:address location="http://ccmm-minchin/ccmmoutboundwebservices/OutboundUtilityWS.asmx" />
    </wsdl:port>
    <wsdl:port name="OutboundUtilityWSSoap12" binding="tns:OutboundUtilityWSSoap12">
      <soap12:address location="http://ccmm-minchin/ccmmoutboundwebservices/OutboundUtilityWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>